<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783986784654-39kf6j122ee91an75e5ijpdmfbna23a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783986784654-39kf6j122ee91an75e5ijpdmfbna23a4</string>
	<key>API_KEY</key>
	<string>AIzaSyDHuODDBT-OR9gXwh4UIKsTf1fgMZWZ5JM</string>
	<key>GCM_SENDER_ID</key>
	<string>783986784654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChat</string>
	<key>PROJECT_ID</key>
	<string>appchat-9c4f4</string>
	<key>STORAGE_BUCKET</key>
	<string>appchat-9c4f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783986784654:ios:b7e9d0797e270dbd514cdf</string>
</dict>
</plist>